opencv-python>=5.0.0.93
ultralytics>=8.4.128
lap>=0.5.13
streamlit>=1.62.0
streamlit-drawable-canvas>=0.9.3
Pillow>=12.3.0
pandas>=2.3.3
psutil>=7.2.2
dateparser>=1.4.2
PyYAML>=6.0.3
scikit-learn>=1.7.2
pytest>=9.1.1
